@font-face {
  font-family: Cyberverse;
  src: url(/fonts/Cyberverse.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Cyberverse;
    font-size: 40px;
}
        
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 328px;
    height: 132px;
    background-color: #000;
    color: #48f;
    padding-top: .8rem;
    text-align: center;
}